PORT=8080
VUE_APP_URL=http://localhost:8080
VUE_APP_API=http://localhost:8090
VUE_APP_EMAIL=sac@embrapa.br
VUE_APP_WHATSAPP=556733682193
VUE_APP_SENTRY_DSN=GET_IN_DASHBOARD
VUE_APP_STAGE=development
VUE_APP_VERSION=0.22.8-dev.1
VUE_APP_MATOMO_ID=10
