SERVER=localhost
STAGE=development
COMPOSE_PROJECT_NAME=%GENESIS_PROJECT_UNIX%_development
COMPOSE_PROFILES=development
ENVIRONMENT=development
VERSION=0.22.5-dev.1
DEPLOYER=camilo.carromeu@embrapa.br
