version: '3.9'

services:
  pwa:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        NODE_ENV: ${ENVIRONMENT}
        PORT: ${PORT}
        SERVER: ${SERVER}
        STAGE: ${STAGE}
        VERSION: ${VERSION}
        DEPLOYER: ${DEPLOYER}
    ports:
      - ${PORT}:80
    restart: unless-stopped
    healthcheck:
      test: curl --fail -s http://localhost:80/ || exit 1
      interval: 1m30s
      timeout: 10s
      start_period: 30s
      retries: 4

  backup:
    image: tianon/true
    restart: "no"
    profiles:
      - tools
